
<h1>Groups</h1>
 
<ul>
  <% @groups.each do |group| %>
   
      <li>
        <%= link_to group.name, group %>
      </li>
   <li>
        <%= link_to group.icon, group %>
      </li>
  <% end %>
</ul>

<%= link_to "New Group", create_group_path %>