
<h1>Groups</h1>
  Group numbers : <%= Group.count %>
<ul>
  <% @groups.each do |group| %>
    <li> Group name:
      <%= link_to group.name, group %>
      icon:
      <%= group.icon %>
    </li>
<% end %>
</ul>

<%= link_to "Create New Group", create_group_path %>