
<h1><%= @group.name %></h1>
<p><%= @group.icon %></p>

<ul>
  <li><%= link_to "Edit", edit_group_path %></li>
  <li><%= link_to "Delete", group_path, 
                  method: :delete,
                  data: { confirm: "Are you sure?" }%></li>
</ul>


