<h1>Sign Up<h1>
<div class="container">
  <%= form_with model: @user, url: sign_up_path  do |f| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.text_field :name, placeholder: 'Enter your name', class: 'form-control' %>
    </div>
    <div>
      <%= f.submit 'Sign Up', class:'btn btn-primary' %>
    </div>
  <% end %>
</div>