@import url("http://fontawesome.io/assets/font-awesome/css/font-awesome.css");
select, p{ font-family: 'FontAwesome', Verdana }

nav {
  background-color: #3778c2;
}

.nav-link, .navbar-brand {
color:white;

}
a:hover { color: white;}

.btn {
  background-color: #3778c2;
}
.navbar-text { color: white} 

